In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv('students_data.csv')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [29]:
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       18
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [30]:
df = df.rename(columns={
    'student_id':'ID',
    'name':'Name',
    'age':'Age',
    'gender':'Gender',
    'grade':'Grade',
    'math_score':'Math_Score',
    'english_score':'English_Score',
    'science_score':'Science_Score',
    'enrolled_date':'Enrolled_Date'
})
df

,ID,Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [31]:
df['Gender'] = df['Gender'].replace({"male":'M',"Male":'M',"MALE":'M',"female":'F',"Female":'F',"FEMALE":'F',})
df

,ID,Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,jane smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [32]:
df[['First_Name','Last_Name']] = df['Name'].str.split(r'\s+',n=1,expand=True)
df

,ID,Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks,First_Name,Last_Name
0,100,jane smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,John Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,Chris P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,jane smith,16.0,F,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,Sara O'Neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,Mike O’Reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,ali Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,Sara O'Neil,17.0,F,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,Mike O’Reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,Robert Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,lucy gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,Simran Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,Patel R.,17.0,F,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,Patel R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,Ali Khan,17.0,M,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,Lucy gray,16.0,F,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,Chris P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,Ali Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,Simran Singh,17.0,M,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,Patel R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,Sara O'Neil,17.0,M,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,John Doe,18.0,F,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,Sara O'Neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,jane smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,John Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,Mike O’Reilly,17.0,M,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,John Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,Simran Singh,16.0,F,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,Sara O'Neil,17.0,F,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [33]:
df.drop(columns=['Name'],inplace=True)
df

,ID,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks,First_Name,Last_Name
0,100,16.0,F,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16.0,M,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16.0,F,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16.0,M,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17.0,F,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17.0,F,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16.0,F,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17.0,M,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16.0,F,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17.0,F,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17.0,M,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17.0,M,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16.0,F,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,NaN,F,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18.0,M,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17.0,M,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17.0,M,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17.0,M,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18.0,F,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17.0,M,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17.0,F,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17.0,M,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,NaN,M,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16.0,F,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17.0,F,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17.0,M,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17.0,M,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [34]:
df = df[['ID','First_Name','Last_Name'] + [c for c in df.columns if c not in ['ID','First_Name','Last_Name','Name']]]
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,jane,smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane,smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara,O'Neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike,O’Reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali,Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara,O'Neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike,O’Reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy,gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel,R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy,gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris,P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel,R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara,O'Neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'Neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane,smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike,O’Reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara,O'Neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [35]:
df['First_Name'] = df['First_Name'].str.capitalize()
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane,smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara,O'Neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike,O’Reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara,O'Neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike,O’Reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy,gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel,R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy,gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris,P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel,R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara,O'Neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'Neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane,smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike,O’Reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara,O'Neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [36]:
df['Last_Name'] = df['Last_Name'].str.capitalize()
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike,O’reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike,O’reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel,R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris,P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel,R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane,Smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike,O’reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [37]:
df['Last_Name'] = df['Last_Name'].replace({"O’reilly":'O-reilly'})
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike,O-reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike,O-reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel,R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris,P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel,R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,Jane,Smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike,O-reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [38]:
df['English_Score'] = df['English_Score'].replace({"missing":'77',None:'77'})
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,77,66,2022-06-10,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,77,69,06/12/2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike,O-reilly,16.0,F,10,NaN,77,83,06/12/2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,77,75,06/12/2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike,O-reilly,16.0,F,12,80.0,77,89,06/12/2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,77,95,2022-06-10,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel,R.,17.0,M,10,NaN,77,98,06/12/2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris,P.,NaN,F,11,NaN,77,72,2022/06/11,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel,R.,17.0,M,11th,73.0,77,90,06/12/2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,77,89,2022-06-10,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11th,75.0,77,66,2022-06-10,good student
23,123,Jane,Smith,17.0,F,11th,NaN,77,63,06/12/2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,77,91,06/12/2022,GOOD
25,125,Mike,O-reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,77,67,06/12/2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [39]:
df['Enrolled_Date'] = df['Enrolled_Date'].replace({"2022-06-10":"10-06-2022","06/12/2022":"06-12-2022","2022/06/11":"11-06-2022","2022-06-11":"11-06-2022"})
df

,ID,First_Name,Last_Name,Age,Gender,Grade,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16.0,F,10,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16.0,F,12,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11th,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17.0,M,10,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,NaN,F,11,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17.0,M,11th,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,77,89,10-06-2022,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11th,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17.0,F,11th,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average

In [40]:
df = df.rename(columns={'Grade':'Class'})
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16.0,F,10,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16.0,F,12,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11th,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16.0,F,11th,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17.0,M,10,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,NaN,F,11,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18.0,M,11th,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17.0,M,11th,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,77,89,10-06-2022,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11th,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17.0,F,11th,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18.0,M,11th,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10th,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average

In [41]:
df['Class'] = (df['Class'].astype(str).str.replace(r"(st|nd|rd|th)","",regex=True).astype(int))
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,11,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16.0,M,10,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,10,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16.0,F,10,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,11,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16.0,F,10,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17.0,F,11,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17.0,F,12,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16.0,F,12,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17.0,F,12,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,11,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16.0,F,11,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17.0,F,11,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17.0,M,10,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17.0,M,12,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16.0,F,12,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,NaN,F,11,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18.0,M,11,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17.0,M,10,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17.0,M,11,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17.0,M,10,NaN,77,89,10-06-2022,average
21,121,John,Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,11,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17.0,F,11,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18.0,M,11,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,10,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16.0,F,12,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17.0,F,11,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17.0,M,11,NaN,64,83,11-06-2022,Average

In [42]:
df['Class'] = df['Class'].replace({10:"X",11:"XI",12:"XII"})
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16.0,F,XI,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16.0,M,X,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,NaN,M,X,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16.0,F,X,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16.0,M,XI,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16.0,F,X,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17.0,F,XI,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17.0,F,XII,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16.0,F,XII,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17.0,F,XII,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17.0,M,XI,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16.0,F,XI,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17.0,F,XI,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17.0,M,X,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17.0,M,XII,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16.0,F,XII,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,NaN,F,XI,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18.0,M,XI,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17.0,M,X,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17.0,M,XI,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17.0,M,X,NaN,77,89,10-06-2022,average
21,121,John,Doe,18.0,F,XI,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17.0,M,XI,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17.0,F,XI,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18.0,M,XI,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17.0,M,XII,94.0,80,63,10-06-2022,Average
26,126,John,Doe,NaN,M,X,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16.0,F,XII,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17.0,F,XI,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17.0,M,XI,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17.0,M,XI,NaN,64,83,11-06-2022,Average

In [43]:
df['Age'] = df['Age'].fillna(16).astype(int)
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,remarks
0,100,Jane,Smith,16,F,XI,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16,M,X,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,16,M,X,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16,F,X,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16,M,XI,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16,F,X,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17,F,XI,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17,F,XII,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16,F,XII,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17,F,XII,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17,M,XI,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16,F,XI,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17,F,XI,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17,M,X,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17,M,XII,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16,F,XII,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,16,F,XI,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18,M,XI,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17,M,X,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17,M,XI,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17,M,X,NaN,77,89,10-06-2022,average
21,121,John,Doe,18,F,XI,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17,M,XI,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17,F,XI,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18,M,XI,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17,M,XII,94.0,80,63,10-06-2022,Average
26,126,John,Doe,16,M,X,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16,F,XII,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17,F,XI,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,Average

In [44]:
df = df.rename(columns={'remarks':'Grade'})
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75.0,77,66,10-06-2022,excellent
1,101,John,Doe,16,M,X,74.0,95,94,10-06-2022,GOOD
2,102,Chris,P.,16,M,X,NaN,77,69,06-12-2022,needs improvement
3,103,Jane,Smith,16,F,X,NaN,77,62,10-06-2022,average
4,104,Sara,O'neil,16,M,XI,NaN,96,64,10-06-2022,GOOD
5,105,Mike,O-reilly,16,F,X,NaN,77,83,06-12-2022,needs improvement
6,106,Ali,Khan,17,F,XI,64.0,77,75,06-12-2022,Good
7,107,Sara,O'neil,17,F,XII,NaN,63,62,11-06-2022,excellent
8,108,Mike,O-reilly,16,F,XII,80.0,77,89,06-12-2022,poor
9,109,Robert,Brown,17,F,XII,NaN,77,97,10-06-2022,needs improvement
10,110,Lucy,Gray,17,M,XI,65.0,67,100,06-12-2022,excellent
11,111,Simran,Singh,16,F,XI,NaN,77,95,10-06-2022,average
12,112,Patel,R.,17,F,XI,NaN,87,89,10-06-2022,poor
13,113,Patel,R.,17,M,X,NaN,77,98,06-12-2022,Average
14,114,Ali,Khan,17,M,XII,NaN,91,67,11-06-2022,poor
15,115,Lucy,Gray,16,F,XII,65.0,91,94,06-12-2022,Average
16,116,Chris,P.,16,F,XI,NaN,77,72,11-06-2022,excellent
17,117,Ali,Khan,18,M,XI,67.0,74,81,10-06-2022,GOOD
18,118,Simran,Singh,17,M,X,100.0,74,62,11-06-2022,average
19,119,Patel,R.,17,M,XI,73.0,77,90,06-12-2022,Good
20,120,Sara,O'neil,17,M,X,NaN,77,89,10-06-2022,average
21,121,John,Doe,18,F,XI,66.0,72,94,10-06-2022,Average
22,122,Sara,O'neil,17,M,XI,75.0,77,66,10-06-2022,good student
23,123,Jane,Smith,17,F,XI,NaN,77,63,06-12-2022,excellent
24,124,John,Doe,18,M,XI,NaN,77,91,06-12-2022,GOOD
25,125,Mike,O-reilly,17,M,XII,94.0,80,63,10-06-2022,Average
26,126,John,Doe,16,M,X,64.0,77,67,06-12-2022,good student
27,127,Simran,Singh,16,F,XII,NaN,76,80,06-12-2022,poor
28,128,Sara,O'neil,17,F,XI,NaN,64,89,10-06-2022,average
29,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,Average
30,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,Average

In [45]:
df['Grade']= df['Grade'].replace({"excellent":"A+","GOOD":"A","Good":"A","needs improvement":"C","Average":"B","average":"B","poor":'D',"good student":"A"})
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75.0,77,66,10-06-2022,A+
1,101,John,Doe,16,M,X,74.0,95,94,10-06-2022,A
2,102,Chris,P.,16,M,X,NaN,77,69,06-12-2022,C
3,103,Jane,Smith,16,F,X,NaN,77,62,10-06-2022,B
4,104,Sara,O'neil,16,M,XI,NaN,96,64,10-06-2022,A
5,105,Mike,O-reilly,16,F,X,NaN,77,83,06-12-2022,C
6,106,Ali,Khan,17,F,XI,64.0,77,75,06-12-2022,A
7,107,Sara,O'neil,17,F,XII,NaN,63,62,11-06-2022,A+
8,108,Mike,O-reilly,16,F,XII,80.0,77,89,06-12-2022,D
9,109,Robert,Brown,17,F,XII,NaN,77,97,10-06-2022,C
10,110,Lucy,Gray,17,M,XI,65.0,67,100,06-12-2022,A+
11,111,Simran,Singh,16,F,XI,NaN,77,95,10-06-2022,B
12,112,Patel,R.,17,F,XI,NaN,87,89,10-06-2022,D
13,113,Patel,R.,17,M,X,NaN,77,98,06-12-2022,B
14,114,Ali,Khan,17,M,XII,NaN,91,67,11-06-2022,D
15,115,Lucy,Gray,16,F,XII,65.0,91,94,06-12-2022,B
16,116,Chris,P.,16,F,XI,NaN,77,72,11-06-2022,A+
17,117,Ali,Khan,18,M,XI,67.0,74,81,10-06-2022,A
18,118,Simran,Singh,17,M,X,100.0,74,62,11-06-2022,B
19,119,Patel,R.,17,M,XI,73.0,77,90,06-12-2022,A
20,120,Sara,O'neil,17,M,X,NaN,77,89,10-06-2022,B
21,121,John,Doe,18,F,XI,66.0,72,94,10-06-2022,B
22,122,Sara,O'neil,17,M,XI,75.0,77,66,10-06-2022,A
23,123,Jane,Smith,17,F,XI,NaN,77,63,06-12-2022,A+
24,124,John,Doe,18,M,XI,NaN,77,91,06-12-2022,A
25,125,Mike,O-reilly,17,M,XII,94.0,80,63,10-06-2022,B
26,126,John,Doe,16,M,X,64.0,77,67,06-12-2022,A
27,127,Simran,Singh,16,F,XII,NaN,76,80,06-12-2022,D
28,128,Sara,O'neil,17,F,XI,NaN,64,89,10-06-2022,B
29,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,B
30,129,Patel,R.,17,M,XI,NaN,64,83,11-06-2022,B

In [46]:
df['Math_Score'] = df['Math_Score'].fillna(74).astype(int)
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75,77,66,10-06-2022,A+
1,101,John,Doe,16,M,X,74,95,94,10-06-2022,A
2,102,Chris,P.,16,M,X,74,77,69,06-12-2022,C
3,103,Jane,Smith,16,F,X,74,77,62,10-06-2022,B
4,104,Sara,O'neil,16,M,XI,74,96,64,10-06-2022,A
5,105,Mike,O-reilly,16,F,X,74,77,83,06-12-2022,C
6,106,Ali,Khan,17,F,XI,64,77,75,06-12-2022,A
7,107,Sara,O'neil,17,F,XII,74,63,62,11-06-2022,A+
8,108,Mike,O-reilly,16,F,XII,80,77,89,06-12-2022,D
9,109,Robert,Brown,17,F,XII,74,77,97,10-06-2022,C
10,110,Lucy,Gray,17,M,XI,65,67,100,06-12-2022,A+
11,111,Simran,Singh,16,F,XI,74,77,95,10-06-2022,B
12,112,Patel,R.,17,F,XI,74,87,89,10-06-2022,D
13,113,Patel,R.,17,M,X,74,77,98,06-12-2022,B
14,114,Ali,Khan,17,M,XII,74,91,67,11-06-2022,D
15,115,Lucy,Gray,16,F,XII,65,91,94,06-12-2022,B
16,116,Chris,P.,16,F,XI,74,77,72,11-06-2022,A+
17,117,Ali,Khan,18,M,XI,67,74,81,10-06-2022,A
18,118,Simran,Singh,17,M,X,100,74,62,11-06-2022,B
19,119,Patel,R.,17,M,XI,73,77,90,06-12-2022,A
20,120,Sara,O'neil,17,M,X,74,77,89,10-06-2022,B
21,121,John,Doe,18,F,XI,66,72,94,10-06-2022,B
22,122,Sara,O'neil,17,M,XI,75,77,66,10-06-2022,A
23,123,Jane,Smith,17,F,XI,74,77,63,06-12-2022,A+
24,124,John,Doe,18,M,XI,74,77,91,06-12-2022,A
25,125,Mike,O-reilly,17,M,XII,94,80,63,10-06-2022,B
26,126,John,Doe,16,M,X,64,77,67,06-12-2022,A
27,127,Simran,Singh,16,F,XII,74,76,80,06-12-2022,D
28,128,Sara,O'neil,17,F,XI,74,64,89,10-06-2022,B
29,129,Patel,R.,17,M,XI,74,64,83,11-06-2022,B
30,129,Patel,R.,17,M,XI,74,64,83,11-06-2022,B

In [47]:
df[['English_Score','Science_Score']] = df[['Science_Score','English_Score']]
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75,66,77,10-06-2022,A+
1,101,John,Doe,16,M,X,74,94,95,10-06-2022,A
2,102,Chris,P.,16,M,X,74,69,77,06-12-2022,C
3,103,Jane,Smith,16,F,X,74,62,77,10-06-2022,B
4,104,Sara,O'neil,16,M,XI,74,64,96,10-06-2022,A
5,105,Mike,O-reilly,16,F,X,74,83,77,06-12-2022,C
6,106,Ali,Khan,17,F,XI,64,75,77,06-12-2022,A
7,107,Sara,O'neil,17,F,XII,74,62,63,11-06-2022,A+
8,108,Mike,O-reilly,16,F,XII,80,89,77,06-12-2022,D
9,109,Robert,Brown,17,F,XII,74,97,77,10-06-2022,C
10,110,Lucy,Gray,17,M,XI,65,100,67,06-12-2022,A+
11,111,Simran,Singh,16,F,XI,74,95,77,10-06-2022,B
12,112,Patel,R.,17,F,XI,74,89,87,10-06-2022,D
13,113,Patel,R.,17,M,X,74,98,77,06-12-2022,B
14,114,Ali,Khan,17,M,XII,74,67,91,11-06-2022,D
15,115,Lucy,Gray,16,F,XII,65,94,91,06-12-2022,B
16,116,Chris,P.,16,F,XI,74,72,77,11-06-2022,A+
17,117,Ali,Khan,18,M,XI,67,81,74,10-06-2022,A
18,118,Simran,Singh,17,M,X,100,62,74,11-06-2022,B
19,119,Patel,R.,17,M,XI,73,90,77,06-12-2022,A
20,120,Sara,O'neil,17,M,X,74,89,77,10-06-2022,B
21,121,John,Doe,18,F,XI,66,94,72,10-06-2022,B
22,122,Sara,O'neil,17,M,XI,75,66,77,10-06-2022,A
23,123,Jane,Smith,17,F,XI,74,63,77,06-12-2022,A+
24,124,John,Doe,18,M,XI,74,91,77,06-12-2022,A
25,125,Mike,O-reilly,17,M,XII,94,63,80,10-06-2022,B
26,126,John,Doe,16,M,X,64,67,77,06-12-2022,A
27,127,Simran,Singh,16,F,XII,74,80,76,06-12-2022,D
28,128,Sara,O'neil,17,F,XI,74,89,64,10-06-2022,B
29,129,Patel,R.,17,M,XI,74,83,64,11-06-2022,B
30,129,Patel,R.,17,M,XI,74,83,64,11-06-2022,B

In [48]:
df = df.rename(columns={'English_Score':'Science_Score','Science_Score':'English_Score'})
df

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,Science_Score,English_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75,66,77,10-06-2022,A+
1,101,John,Doe,16,M,X,74,94,95,10-06-2022,A
2,102,Chris,P.,16,M,X,74,69,77,06-12-2022,C
3,103,Jane,Smith,16,F,X,74,62,77,10-06-2022,B
4,104,Sara,O'neil,16,M,XI,74,64,96,10-06-2022,A
5,105,Mike,O-reilly,16,F,X,74,83,77,06-12-2022,C
6,106,Ali,Khan,17,F,XI,64,75,77,06-12-2022,A
7,107,Sara,O'neil,17,F,XII,74,62,63,11-06-2022,A+
8,108,Mike,O-reilly,16,F,XII,80,89,77,06-12-2022,D
9,109,Robert,Brown,17,F,XII,74,97,77,10-06-2022,C
10,110,Lucy,Gray,17,M,XI,65,100,67,06-12-2022,A+
11,111,Simran,Singh,16,F,XI,74,95,77,10-06-2022,B
12,112,Patel,R.,17,F,XI,74,89,87,10-06-2022,D
13,113,Patel,R.,17,M,X,74,98,77,06-12-2022,B
14,114,Ali,Khan,17,M,XII,74,67,91,11-06-2022,D
15,115,Lucy,Gray,16,F,XII,65,94,91,06-12-2022,B
16,116,Chris,P.,16,F,XI,74,72,77,11-06-2022,A+
17,117,Ali,Khan,18,M,XI,67,81,74,10-06-2022,A
18,118,Simran,Singh,17,M,X,100,62,74,11-06-2022,B
19,119,Patel,R.,17,M,XI,73,90,77,06-12-2022,A
20,120,Sara,O'neil,17,M,X,74,89,77,10-06-2022,B
21,121,John,Doe,18,F,XI,66,94,72,10-06-2022,B
22,122,Sara,O'neil,17,M,XI,75,66,77,10-06-2022,A
23,123,Jane,Smith,17,F,XI,74,63,77,06-12-2022,A+
24,124,John,Doe,18,M,XI,74,91,77,06-12-2022,A
25,125,Mike,O-reilly,17,M,XII,94,63,80,10-06-2022,B
26,126,John,Doe,16,M,X,64,67,77,06-12-2022,A
27,127,Simran,Singh,16,F,XII,74,80,76,06-12-2022,D
28,128,Sara,O'neil,17,F,XI,74,89,64,10-06-2022,B
29,129,Patel,R.,17,M,XI,74,83,64,11-06-2022,B
30,129,Patel,R.,17,M,XI,74,83,64,11-06-2022,B

In [49]:
df.drop_duplicates()

,ID,First_Name,Last_Name,Age,Gender,Class,Math_Score,Science_Score,English_Score,Enrolled_Date,Grade
0,100,Jane,Smith,16,F,XI,75,66,77,10-06-2022,A+
1,101,John,Doe,16,M,X,74,94,95,10-06-2022,A
2,102,Chris,P.,16,M,X,74,69,77,06-12-2022,C
3,103,Jane,Smith,16,F,X,74,62,77,10-06-2022,B
4,104,Sara,O'neil,16,M,XI,74,64,96,10-06-2022,A
5,105,Mike,O-reilly,16,F,X,74,83,77,06-12-2022,C
6,106,Ali,Khan,17,F,XI,64,75,77,06-12-2022,A
7,107,Sara,O'neil,17,F,XII,74,62,63,11-06-2022,A+
8,108,Mike,O-reilly,16,F,XII,80,89,77,06-12-2022,D
9,109,Robert,Brown,17,F,XII,74,97,77,10-06-2022,C
10,110,Lucy,Gray,17,M,XI,65,100,67,06-12-2022,A+
11,111,Simran,Singh,16,F,XI,74,95,77,10-06-2022,B
12,112,Patel,R.,17,F,XI,74,89,87,10-06-2022,D
13,113,Patel,R.,17,M,X,74,98,77,06-12-2022,B
14,114,Ali,Khan,17,M,XII,74,67,91,11-06-2022,D
15,115,Lucy,Gray,16,F,XII,65,94,91,06-12-2022,B
16,116,Chris,P.,16,F,XI,74,72,77,11-06-2022,A+
17,117,Ali,Khan,18,M,XI,67,81,74,10-06-2022,A
18,118,Simran,Singh,17,M,X,100,62,74,11-06-2022,B
19,119,Patel,R.,17,M,XI,73,90,77,06-12-2022,A
20,120,Sara,O'neil,17,M,X,74,89,77,10-06-2022,B
21,121,John,Doe,18,F,XI,66,94,72,10-06-2022,B
22,122,Sara,O'neil,17,M,XI,75,66,77,10-06-2022,A
23,123,Jane,Smith,17,F,XI,74,63,77,06-12-2022,A+
24,124,John,Doe,18,M,XI,74,91,77,06-12-2022,A
25,125,Mike,O-reilly,17,M,XII,94,63,80,10-06-2022,B
26,126,John,Doe,16,M,X,64,67,77,06-12-2022,A
27,127,Simran,Singh,16,F,XII,74,80,76,06-12-2022,D
28,128,Sara,O'neil,17,F,XI,74,89,64,10-06-2022,B
29,129,Patel,R.,17,M,XI,74,83,64,11-06-2022,B

In [50]:
df.to_csv("students_cleaned_data.csv",index=False, encoding="utf-8-sig")